@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC&display=swap');

*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

body{
    
    font-family: 'Cormorant SC', serif;
    background-color: black;
}

/****####---- HEADER ----####****/

header{
    display: flex; 
    align-items: center; 
    justify-content: center;
    
   
}

.logo{
    width: 30%;

} 

.banner{
    width: 100%;
  
}

.title{
    font-weight: bold;
    font-size: 30px;
}

.cont-title{
    width: 60%;
    text-align: center;
}

.sub-title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:gray;
    font-variant: small-caps;
    font-size: 20px;
}

h3{
    font-size: 30px;
    
}

/****####---- NAV ----####****/
.cont-nav{
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav{
    font-size: 30px;
    padding: 10px 0;
    background-color:#740001;
    display: flex; 
    justify-content: center;
    align-items: center;
    color: white;
    position: sticky;
    top: 0px;
    z-index: 1; 
  
}

nav ul{
    list-style: none; 
    display: flex;
    justify-content: space-around;
    width: 100%;
}

nav ul li a{
    padding: 0px 10px;
    text-decoration: none;
    color: #D3A625;

}

nav ul li a:hover{
  color:white;
  font-weight: bold;
  text-shadow: -3px 2px 6px rgba(0,0,0,1);
  
} 

h4{
    font-size: 25px;
    color: white;
}


/****####---- MAIN ----####****/


.prologocontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    padding: 50px 0;

   
}
  
.parrafoprologo{
      font-size: 20px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: goldenrod;
      width: 60%; 
      padding-right: 20px;
      
}

h1 {
    text-align: center;
    color: goldenrod;
    margin-top: 30px;
    margin-bottom: 20px;
   
}



#gryffindor, #slytherin, #hufflepuff, #ravenclaw{
    padding: 50px 0
}

#gryffindor{
    background: linear-gradient(black,#740001,black);
}

#slytherin{
    background: linear-gradient(black,rgb(3, 54, 3),black);
}

#hufflepuff{
    background: linear-gradient(black,rgb(92, 78, 1),black);

}

#ravenclaw{
    background: linear-gradient(black,rgb(3, 28, 67),black);
   
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
   
  } 

  
.parrafo{
    font-size: 25px;
    color: gray;
    width: 800px;
    padding-left: 20px ;
   
}


.mi-card{
    margin: 15px;
    background-color: rgb(48, 50, 48);
    text-align: center;
    color:white;
}

.mi-card:hover{
    border:2px solid gold;
}


#tarjetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#tarjetassly{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#tarjetashuf{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#tarjetasrav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/****####----ASIDE----####****/

aside{
    background-image: url(./assets/harry-potter-hogwarts.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    
}


.cont-test{
    width: 45%;
    background-color:black;
    border: 2px solid black;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.title-test{
    font-weight: bold;
    color: #D3A625;
}


.test a{
    text-decoration: none;
    color: rgb(114, 3, 3);
    font-size: 20px;
    font-weight: bold;
}

.test a:hover{
    color: white;
}

.p-test{
    color: white;
}

.ir-test{
  font-size: 50px;
}
.volver{
    margin-top: 50px;
}


/****####----FOOTER----####****/

footer{
    background: black;
    padding: 20px 0;
    text-align: center;
    font-size: 20px;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}









/*####---- DISEÑO RESPONSIVE ----####*/


/*####---- TABLET ----####*/

@media(max-width: 960px){

    header{
        flex-direction: column;
}
    .logo{
    width: 100%;
    }

    .title{
        font-size: 40px;
    }
    .sub-title{
        color:gray;

    }
    .cont-title{
        margin-bottom: 20px;
    }

    nav ul{
        font-size: 18px;
    }

    nav ul li a{
        color: black;
        font-weight: bold;
    }

    .prologocontainer{
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        margin: 0;
        padding: 30px;
    }

    .parrafoprologo{
        text-align: center;
        padding: 10px;
        width: 100%;
    }

    .parrafo{
        text-align: center;
        width: 100%;
    }

    .cont-test{
        width: 100%;
    }
    


}

/*####---- MOBILE ----####*/

@media(max-width: 480px){

nav ul{
    margin: 0;
    padding: 0;
    font-size: 15px;
}

.sombrero{
    width: 200px;
}


footer{
    font-size: 12px;
    padding: 0 0 10px 0;
    
}


.volver{
    margin-top: 10px;
}


}